<div class="select-token">
  
  <div class="header-container">
    <span class="header">Selecciona un token</span>
    <button class="close-button" (click)="closeModal()"></button>
  </div>

  <input class="input-text" type="text" placeholder="Busca un token..." [(ngModel)]="searchTerm" (input)="onSearch()">
  <span class="popular-tokens">Tokens Populares</span>
  <ul class="token-list">
    <li *ngFor="let token of filteredTokens" class="token-item" (click)="handleTokenSelection(token)">
      <img [src]="token.logo" [alt]="token.name" class="token-logo">
      <div class="token-text">
        <span class="token-name">{{ token.name }}</span>
        <span class="token-symbol">{{ token.symbol }}</span>
      </div>
    </li>
  </ul>
</div>






