
<!-- CoinListComponent HTML -->

<div class="modal" *ngIf="showModal">
    <div class="modal-content">
        <button class="close" (click)="handleModalVisibility()">&times;</button>
        <div>Contenido del modal aquí</div>
    </div>
</div>


<!-- Componente para renderizar la lista de monedas  -->


<!-- <div class="modal" *ngIf="display$ | async as display" [ngClass]="{ 'show': display === 'open' }">
  <div class="modal-content">
    <button class="close" (click)="closeModal()">&times;</button>
    <div>aa modal</div>
    <div>aa modal</div>
    <div>aa modal</div>
    <div>aa modal</div>
  </div>
</div>
 -->
