<!-- <div *ngIf="!loginUser">
    <button (click)="connectToMetaMask()" class="bg-gray-500 px-5 py-1 rounded">
        Conectar
    </button>
</div> -->
<!-- swap.component.html -->
<!-- <div *ngIf="!loginUser" class="connect-button">
    <button (click)="connectToMetaMask()">Connect wallet</button>
</div> -->



<!-- <div *ngIf="loginUser"> -->
<div *ngIf="!loginUser"  class="container">
    <div class="swap-box">
        <div class="amount-input">
            <label>You pay</label>
            <input type="number" placeholder="0"> <!-- [(ngModel)]="payAmount" -->
            <button class="select-token">ETH</button>
        </div>
        <div class="swap-arrow">
            <img src="../../../assets/arrow-down.svg">
        </div>
        <div class="amount-input">
            <label>You receive</label>
            <input type="number" placeholder="0" > <!-- [(ngModel)]="receiveAmount" -->
            <button class="select-token">Select token</button>
        </div>
    </div>
</div>
