.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.connect-button {
    button {
        background-color: #5d3fd3;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: darken(#5d3fd3, 10%);
        }
    }
}

.swap-box {
    background-color: #202225;
    border-radius: 1rem;
    padding: 2rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .amount-input {
        display: flex;
        flex-direction: row;


        input {
            width: 90%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #8a8d90;
            color: white;
            font-size: 2rem;
            padding: 0.5rem 0;
            margin-bottom: 1rem;
            &:focus {
                outline: none;
                border-bottom-color: #5865f2;
            }
        }

        .select-token {
            display: flex;
            position: relative;
            right: 0;
            width: 30%;
            height: fit-content;
            background-color: #5865f2;
            color: white;
            padding: 0.5rem;
            border-radius: 1rem;
            margin-top: -0rem;
            cursor: pointer;
            &:hover {
                background-color: darken(#5865f2, 10%);
            }
        }
    }

    .swap-arrow {
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;
        img {
            width: 1.5rem;
        }
    }
}


.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed; // Posicionamiento fijo respecto al viewport
  top: 0;
  left: 0;
  width: 100%; // Cubrir toda la pantalla en ancho
  height: 100%; // Cubrir toda la pantalla en alto
  z-index: 1000; // Alto z-index para estar por encima de otros elementos

  // Fondo oscuro semitransparente
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); // Fondo oscuro con opacidad
    z-index: -1; // Detrás del contenido del modal pero por encima de la interfaz
  }
}